services:
  web:
    build: .
    volumes:
      - .:/app
      - /app/node_modules/
    ports:
    - 3000:3000
    stdin_open: true
    environment:
      - NODE_OPTIONS=--openssl-legacy-provider
    healthcheck:
      test: timeout 10s bash -c ':> /dev/tcp/127.0.0.1/3000' || exit 1
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 5s
